body {
  max-width: 800px;
  margin: 0 auto;
}

div {
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.last-run {
  font-size: 15px;
}

h1 {
  font-size: 40px;
  font-family: mono;
}

form {
  margin: 0;
}

p {
  margin: 1em;
  font-size: 15px;
  font-family: mono;
}

a {
  font-size: 15px;
  font-family: mono;
  background-color: #ffbd52;
  color: #222;
  padding: 10px 15px; 
  margin: 0.2em 0.5em;
  border-radius: 20px;
}

a:hover {
  background-color: #d93;
}

input {
  background-color: #ddd;
  color: #444;
  text-align: left;
  width: 500px;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

input:hover, .active {
  background-color: #ccc;
  pointer-events: default;
}

button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 9px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px 15px;
}

button:hover {
  background-color: #aaa;
}

.chain {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.status {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.green {
  background-color: #76f263;
}

.green:hover {
  background-color: #54d041;
}

.yellow {
  background-color: #fcce51;
}

.red {
  background-color: #fc6551;
}
