<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="chain-id" style="display: none">{{chain}}</div>
    <div class="command-list">
        <h1>{{chain}}</h1>
        <pre>{{project_path}}</pre>
        <div>
            <a class="yellow" href="/">Back</a>
            <button onclick="runChain('{{chain}}')" type="button" style="background-color: #76f263;">Run Chain</button>
            <button onclick="createCommand()" type="button">Add Command</button>
        </div>

        % for i, command in enumerate(commands):
        <div class="command">
            % if command.status.value == 2:
            <div class="status yellow"></div>
            % elif command.status.value == 3:
            <div class="status red"></div>
            % elif command.status.value == 4:
            <div class="status green"></div>
            % else:
            <div class="status"></div>
            % end
            <div>
                <button type="button" class="collapsible">
                    <input name="cmd" value="{{command.cmd}}" id="cmd-{{i}}" disabled></input>
                </button>
                <div class="content">
                    <pre>{{command.output}}</pre>
                </div>
            </div>
            <button type="button" id="edit-{{i}}" onclick="editCommand('{{i}}')">✏️</button>
            <button type="button" id="remove-{{i}}" onclick="removeCommand('{{i}}')">🗑️</button>
        </div>
        % end
    </div>

    <script src="/static/axios.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>

</html>
