<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/index-styles.css">
</head>

<body>
    <div id="chain-id" style="display: none"></div>
    <div>
        <p>cicded</p>
        <h1>Command chains</h1>
        % for chain in chains:
        <div class="chain">
            % if chains[chain].status.value == 2:
            <div id="{{chain}}-status" class="status yellow"></div>
            % elif chains[chain].status.value == 3:
            <div id="{{chain}}-status" class="status red"></div>
            % elif chains[chain].status.value == 4:
            <div id="{{chain}}-status" class="status green"></div>
            % else:
            <div id="{{chain}}-status" class="status"></div>
            % end
            <a href="chains/{{chain}}">{{chain}}</a>
            <button type="button" onclick="runFullChain('{{chain}}')">Run Chain</button>
            <p class="last-run">Last Run: {{chains[chain].last_run_datetime}}</p>
            <button type="button" id="remove-{{chain}}" onclick="removeChain('{{chain}}')">🗑️</button>
        </div>
        % end
    </div>
    <div class="form">
        <form action="/chains" method="POST">
            <p>Name:
                <input name="name" />
            </p>
            <p>Path:
                <input name="path" />
            </p>
            <button type="submit">Create New Command Chain</button>
        </form>
    </div>
    <script src="/static/axios.min.js"></script>
    <script src="/static/scripts.js"></script>
</body>
